h1{
    color: cornflowerblue;
    text-align: center;
}

#shortme{
    font-style: italic;
    text-align: center;
}

body{
    background-color: lightgray;
}

.img-container{
    display: flex;
    justify-content: center;
}

img{
    width: 150px;
}

.content{
    display: inline-flex;
    align-items: center;
}

.project{
    display: flexbox;
}

h2{
    color: cornflowerblue;
    justify-self: center;
}

.btn-arrow{
    width: 100px;
    height: 100px;
}